.lightsaber {
  border-radius: 10px;
  width: 20px;
  height: 200px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
  background: #03e9f4;
}

.Starjedi {
  font-family: 'Starjedi';
}

.Starjhol {
  font-family: 'Starjhol';
}

@font-face {
  font-family: Starjedi;
  src: url('Starjedi.ttf');
}

@font-face {
  font-family: Starjhol;
  src: url('Starjhol.ttf');
}

